fastapi
uvicorn
openai
python-dotenv
qdrant-client
sentence-transformers

# Evtl durch nachfolgendes ersetzten:
# fastapi
# uvicorn
# openai
# python-dotenv
# qdrant-client
# sentence-transformers==2.2.2
# scikit-learn